
*.pdom
*.index
*.snap
*.ini
*.history
*.xmi
*.resources
*.location
*.core
*.i
*.o
*.d
*.su
*.mk
*.elf
*.bin
*.s
*.map
**/My_workspace/target/.metadata/*
*.list
My_workspace/target/003Add/Debug/makefile
**/My_workspace/target/003Add/Debug/*
**/My_workspace/target/001HelloWorld/Debug/*
**/My_workspace/target/002Sizeof/Debug/*
*.xml
*.xmi
*.log
*.prefs
My_workspace/target/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
*.201912201802
*.dat
My_workspace/target/.metadata/.lock
*.xml
**/.settings/*
**/Debug/*
**/.metadata/*

