*.pdom
*.index
*.snap
*.ini
*.history
*.xmi
*.xml
*.resources
*.location
*.core
*.i
*.o
*.d
*.su
*.mk
*.elf
*.bin
*.map
*.list
*.xmi
*.log
*.prefs
*.201912201802
*.dat
**/Debug/*
**/.metadata/*
**/.settings/*
